@import "../settings"

@keyframes premium-light-sweep
  0%
    left: -50%
  40%, 100%
    left: 150%

.profile-page
  display: flex
  flex-direction: row
  font-family: "Roboto", sans-serif
  .column
    flex: 1
    display: flex
    flex-direction: column
    padding: 10px
  .user-profile
    grid-area: user-profile
    position: relative
    display: flex
    flex-direction: row
    border-radius: 2px
    color: white
    background-color: $primary-color
    box-shadow: $primary-box-shadow
    height: 128px
    .user-avatar
      img
        display: block
        width: 128px
        height: 128px
    .user-info
      .login
        padding: 10px
        font-weight: 500
        font-size: 22px
      .email
        font-size: 18px
        padding: 5px
    .badgets
      position: absolute
      top: 5px
      right: 5px
      display: flex
      flex-direction: column
      align-items: flex-end
      div
        margin-bottom: 5px
        position: relative
        cursor: default
        padding: 5px
        font-weight: 500
        border-radius: 2px
        overflow: hidden
        &::after, &::before
          z-index: 0
          opacity: .3
          content: ""
          position: absolute
          transform: skew(-25deg)
          top: 0
          left: -50%
          display: block
          width: 30%
          height: 100%
          background-color: white
          animation: premium-light-sweep 3s ease-in-out infinite
        &::before
          opacity: .2
          animation-delay: 50ms
      .premium-badget
        background-color: #F57F17
        box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 12px -5px rgba(245,127,23,.46)
      .admin-badget
        background-color: #b71c1c
        box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 12px -5px rgba(183,28,28,.46)
  .palettes-paginator
    .results
      grid-template-columns: auto 1fr 1fr auto
  .tasks-paginator
    .results
      grid-template-columns: auto 1fr 1fr
  .sessions-paginator
    .results
      grid-template-columns: auto 1fr auto 1fr auto
      .row
        .current
          background-color: #EEEEEE
