@import "../settings"

.dimension-map
  .fractal-image
    display: flex
    justify-content: center
    align-items: center
    img
      object-fit: cover
      image-rendering: pixelated
      box-shadow: $container-box-shadow
